@use '../typography' as *;
@use '../variables' as *;

.Autocomplete {
	@include font-defaults;

	position: relative;

	&.centered {
		.options li {
			text-align: center;
		}
	}

	.options {
		@include has-border-shadow;

		list-style: none;
		list-style-type: none;
		padding: 0px;
		margin-top: 2px;

		position: absolute;
		left: 1px;
		top: 100%;
		width: calc(100% - 2px); // for border-shadow

		overflow: hidden auto;
		max-height: 340px;
		@include scrollbar-defaults;

		z-index: 1;

		li {
			background-color: $blackB;
			color: $white;
			padding: 8px;
			cursor: pointer;

			&.active, &:hover {
				background-color: $blackA;
			}
		}
	}
}
