@use '../typography' as *;
@use '../variables' as *;

.Input {
	@include font-defaults;

	position: relative;

	// Reset
	input {
		font-family: inherit; /* 1 */
		font-size: 100%; /* 1 */
		line-height: 1.15; /* 1 */
		margin: 0; /* 2 */
	}

	&.centered {
		input {
			text-align: center;
		}
	}

	.input {
		outline: none;
		border: none;
		background-color: $black;
		color: $white;
		padding: 8px;
		width: 100%;

		&::placeholder {
			color: $grayB;
			user-select: none;
		}
	}

	.indicator {
		position: absolute;
		right: 0px;
		top: 0px;
		bottom: 0;
		height: 100%;

		cursor: default;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin-right: 8px;

		&.red {
			color: $redB;
		}
		&.blue {
			color: $blueB;
		}
		&.green {
			color: $greenA;
		}
		&.yellow {
			color: $yellowA;
		}
	}
}
