@use '../typography' as *;
@use '../variables' as *;

.Checkbox {
	@include font-defaults;

	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding-left: 35px;
	height: 24px;
	color: $grayB;

	&.listForm {
		&:last-child {
			margin-bottom: 4px;
		}
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	.checkmark {
		box-sizing: border-box;
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		background-color: darken($blackB, 15%);
		border: 4px solid darken($blackB, 15%);
		cursor: pointer;

		&.checked {
			background-color: lighten($blackB, 25%);
		}

		&:hover:not(.checked) {
			background-color: darken($blackB, 5%);
		}
		&.hover.checked {
			background-color: lighten($blackB, 10%);
		}
	}
}
