@use '../typography' as *;
@use '../variables' as *;

.FilterReference {
	@include font-defaults;

	color: $grayB;

	.highlight {
		color: $white;
	}

	code {
		@include font-defaults;
		color: $white;
	}

	.link-button {
		color: $blueB;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		font-size: 1em;

		&:hover {
			text-decoration: underline;
			color: $blueA;
		}
	}

	border: 4px solid $grayC;
	padding: 16px;
}
